.red{
    color:red;
}
.form-area
{
    background-color: #FAFAFA;
    padding: 10px 40px 20px;
    margin: 10px 0px 60px;
    border: 1px solid GREY;
    border-radius: 15px;
}

.asterix{
    position: relative;
    color: red;
    float: right;
    font-size: 40px;
    height: 0;
    right: 0;
    top: -50px;/
}